$color-black: #272727
$color-blue: #72AEC8
$color-gray: #EDF1F3
$color-gray-dark: #3A3A3A
$color-white: #FFFFFF

html
    font-size: 62.5%

body 
    font-family: "Lato", sans-serif

.container
    padding: 0rem 31rem
    box-sizing: border-box

.header
    // max-width: 192rem
    padding: 1.4rem 31rem
    display: grid
    grid-template-columns: 50% 1fr 1fr
    align-items: center
    &__icons
        display: flex
        gap: 2rem
        justify-self: end

.navigation
    display: flex
    list-style: none
    align-items: center
    position: relative
    z-index: 100
    &__menu
        display: flex
    &__item
        font-size: 1.4rem
        text-transform: uppercase
        &:not(:last-child)
            margin-right: 4.4rem
    &__link
        // letter-spacing: .1rem
        text-decoration: none
        transition: all .3s
        &:active, &:visited
            color: $color-black
        &:hover
            color: $color-blue


.main-section
    &__container
        background: $color-gray
        padding: 10rem 31rem
        position: relative
        min-height: 61rem

    &__title

    &__img
        position: absolute
        right: 25rem
        top: -7rem
        transition: all .3s
        &:hover
            transform: scale(1.05)

.title
    font-size: 8.3rem
    font-weight: 300
    text-transform: uppercase
    &_main
        width: 60%

.btn
    display: inline-block
    background-color: $color-black
    padding: 1.6rem 5rem
    color: $color-white
    text-transform: uppercase
    text-decoration: none
    font-size: 1.4rem
    transition: all .3s
    &:hover
        transform: scale(1.1)
    &:active
        display: none




.advantages
    display: grid
    grid-template-columns: repeat(4, 1fr)
    margin: 12rem 0
    gap: 0 5.5rem
    &__card
        display: grid
        grid-template-columns: min-content 1fr
        gap: .5rem 1.5rem
    &__title
        font-size: 2rem
        text-transform: uppercase
        color: $color-black
        letter-spacing: 6%
    &__text
        font-size: 1.6rem
        color: $color-gray-dark
        line-height: 138%
        font-weight: 300
        letter-spacing: 3%
    &__img
        grid-row: 1 / span 2
        transform: translateY(-0.5rem)


.shop-offers
    display: grid
    grid-template-rows: min-content 1fr
    grid-template-columns: repeat(4, min-content)
    grid-gap: 3rem 2rem
    margin: 12rem 0
    &__title
        grid-column: 1 / -1
    &__text
        display: flex
        justify-content: space-between
    &__name
        font-size: 2rem
        text-transform: uppercase
        display: inline-block
    &__price
        display: inline-block
        font-size: 2rem
        color: $color-blue
        letter-spacing: 3%
    &__img-box
        position: relative
        margin-bottom: 1rem
        &:hover
            .shop-offers__cart-btn
                opacity: 1
    &__cart-btn
        border: none
        background-color: $color-black
        color: $color-white
        width: 19.1rem
        height: 3.7rem
        text-transform: uppercase
        font-size: 1.4rem
        position: absolute
        top: 80% 
        left: 50%
        transform: translate(-50%, -50%)
        opacity: 0
        transition: all 0.8s ease
        &::after
            content: ""
            position: absolute
            right: 3rem
            top: 50%
            transform: translateY(-50%)
            width: 1.6rem
            height: 1.6rem
            background: url("../icons/cart-button.svg") center / contain no-repeat

        

.title-h3
    display: flex
    justify-content: space-between
    &__heading
        font-size: 3rem
        letter-spacing: 6%
        color: $color-black
        text-transform: uppercase
    &__link
        position: relative
        &:visited, &:link
            color: $color-black
            font-size: 1.4rem
            letter-spacing: 10%
            text-decoration: none
            text-transform: uppercase
        &::after
            content: ''
            position: absolute
            left: 0
            bottom: 0.8rem
            width: 100%
            height: .3rem
            background-color: #E1E1E1
            transition: all .6s ease 
        &:hover::after
            background-color: $color-white
