.btn {
    display: inline-block;
    background-color: $color-black;
    padding: 1.6rem 5rem;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s;
    
    &:hover {
        transform: scale(1.1);
    }
    
    &:active {
        display: none;
    }
}