.subscribe-form {
    &__wrapper {
        padding: 8rem 11rem;
        background-color: $color-black;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    &__title {
        color: white;
        font-size: 3rem;
        letter-spacing: 6%;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    
    &__subtitle {
        color: white;
        font-size: 1.6rem;
        letter-spacing: 3%;
    }
    
    &__input {
        display: inline-block;
        height: 5rem;
        width: 33rem;
        border: none;
        padding: 0;
        transform: translateX(0.5rem);
        
        &::placeholder {
            font-size: 1.6rem;
            letter-spacing: 3%;
            text-align: center;
        }
    }
    
    &__btn {
        display: inline-block;
        height: 5rem;
        width: 16rem;
        text-transform: uppercase;
        border: none;
        background-color: $color-blue;
        color: $color-white;
        padding: 0;
    }
    
    form {
        text-align: right;
    }
}