.title-h1 {
    font-size: 8.3rem;
    font-weight: 300;
    text-transform: uppercase;
    
    &--hero {
        width: 60%;
    }
}

.title-h2 {
    text-transform: uppercase;
    letter-spacing: 2%;
    font-size: 8.3rem;
}

.title-h3 {
    font-size: 3rem;
    letter-spacing: 6%;
    color: $color-black;
    text-transform: uppercase;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    
    &__link {
        position: relative;
        
        &:visited,
        &:link {
            color: $color-black;
            font-size: 1.4rem;
            letter-spacing: 10%;
            text-decoration: none;
            text-transform: uppercase;
        }
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0.8rem;
            width: 100%;
            height: 0.3rem;
            background-color: #E1E1E1;
            transition: all 0.6s ease;
        }
        
        &:hover::after {
            background-color: $color-white;
        }
    }
}