.title-h1 {
    font-size: 8.3rem;
    font-weight: 300;
    text-transform: uppercase;
    
    &--hero {
        width: 60%;
    }
}

.title-h2 {
    text-transform: uppercase;
    letter-spacing: 2%;
    font-size: 8.3rem;
}

.title-h3 {
    font-size: 3rem;
    letter-spacing: 6%;
    color: $color-black;
    text-transform: uppercase;
}

.title-h4 {
    font-size: 2rem;
    letter-spacing: 6%;
    color: $color-black;
    text-transform: uppercase;
    &--underline {
        text-decoration: underline;
    }
}
