.checkout {
    &__container {
        padding-top: 12rem;
    } 
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 3rem;
    }
    &__form-field {
        margin-bottom: 3rem;
    }
    &__form-radio {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    &__cart-block {
        margin-bottom: 12rem;
    }

    &__billing-block {
        // min-width: 64rem;
        width: 49%;
    }

    &__additional-block {
        width: 49%;
    }
}

