.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 12rem 0;
    gap: 0 5.5rem;
    
    &__card {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 0.5rem 1.5rem;
    }
    
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-black;
        letter-spacing: 6%;
    }
    
    &__text {
        font-size: 1.6rem;
        color: $color-gray-dark;
        line-height: 138%;
        font-weight: 300;
        letter-spacing: 3%;
    }
    
    &__img {
        grid-row: 1 / span 2;
        transform: translateY(-0.5rem);
    }
}