.discount-offer {
    &__container {
        background-color: $color-gray;
        position: relative;
        min-height: 70rem;
    }
    
    &__info {
        padding: 22rem 0 22rem 11rem;
    }
    
    &__subtitle {
        font-size: 3rem;
        letter-spacing: 16%;
        text-transform: uppercase;
        margin-bottom: 2.8rem;
        padding-left: 5rem;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            bottom: 50%;
            left: 0rem;
            width: 3%;
            height: 0.1rem;
            background-color: $color-black;
            transform: translateY(50%);
        }
    }
    
    &__img {
        position: absolute;
        right: -22rem;
        bottom: -6.5rem;
    }
    
    &__title {
        margin-bottom: 4.5rem;
    }
}