/* line 7, ../../../Desktop/project_ministore/src/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 10, ../../../Desktop/project_ministore/src/sass/style.sass */
body {
  font-family: "Lato", sans-serif;
}

/* line 13, ../../../Desktop/project_ministore/src/sass/style.sass */
.container {
  padding: 0rem 31rem;
  box-sizing: border-box;
}

/* line 17, ../../../Desktop/project_ministore/src/sass/style.sass */
.header {
  padding: 1.4rem 31rem;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  align-items: center;
}

/* line 23, ../../../Desktop/project_ministore/src/sass/style.sass */
.header__icons {
  display: flex;
  gap: 2rem;
  justify-self: end;
}

/* line 28, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  position: relative;
  z-index: 100;
}

/* line 34, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__menu {
  display: flex;
}

/* line 36, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__item {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* line 39, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__item:not(:last-child) {
  margin-right: 4.4rem;
}

/* line 41, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link {
  text-decoration: none;
  transition: all .3s;
}

/* line 45, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link:active, .navigation__link:visited {
  color: #272727;
}

/* line 47, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link:hover {
  color: #72AEC8;
}

/* line 52, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__container {
  background: #EDF1F3;
  padding: 10rem 31rem;
  position: relative;
  min-height: 61rem;
}

/* line 60, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__img {
  position: absolute;
  right: 25rem;
  top: -7rem;
  transition: all .3s;
}

/* line 65, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__img:hover {
  transform: scale(1.05);
}

/* line 68, ../../../Desktop/project_ministore/src/sass/style.sass */
.title {
  font-size: 8.3rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 72, ../../../Desktop/project_ministore/src/sass/style.sass */
.title_main {
  width: 60%;
}

/* line 75, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn {
  display: inline-block;
  background-color: #272727;
  padding: 1.6rem 5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all .3s;
}

/* line 84, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn:hover {
  transform: scale(1.1);
}

/* line 86, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn:active {
  display: none;
}

/* line 92, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 12rem 0;
  gap: 0 5.5rem;
}

/* line 97, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__card {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: .5rem 1.5rem;
}

/* line 101, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #272727;
  letter-spacing: 6%;
}

/* line 106, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__text {
  font-size: 1.6rem;
  color: #3A3A3A;
  line-height: 138%;
  font-weight: 300;
  letter-spacing: 3%;
}

/* line 112, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__img {
  grid-row: 1 / span 2;
  transform: translateY(-0.5rem);
}

/* line 117, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 3rem 2rem;
  margin: 12rem 0;
}

/* line 123, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__title {
  grid-column: 1 / -1;
}

/* line 125, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__text {
  display: flex;
  justify-content: space-between;
}

/* line 128, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__name {
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

/* line 132, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__price {
  display: inline-block;
  font-size: 2rem;
  color: #72AEC8;
  letter-spacing: 3%;
}

/* line 137, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__img-box {
  position: relative;
  margin-bottom: 1rem;
}

/* line 141, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__img-box:hover .shop-offers__cart-btn {
  opacity: 1;
}

/* line 143, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__cart-btn {
  border: none;
  background-color: #272727;
  color: #FFFFFF;
  width: 19.1rem;
  height: 3.7rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.8s ease;
}

/* line 157, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__cart-btn::after {
  content: "";
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  background: url("../icons/cart-button.svg") center/contain no-repeat;
}

/* line 169, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3 {
  display: flex;
  justify-content: space-between;
}

/* line 172, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3__heading {
  font-size: 3rem;
  letter-spacing: 6%;
  color: #272727;
  text-transform: uppercase;
}

/* line 177, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3__link {
  position: relative;
}

/* line 179, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3__link:visited, .title-h3__link:link {
  color: #272727;
  font-size: 1.4rem;
  letter-spacing: 10%;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 185, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  width: 100%;
  height: .3rem;
  background-color: #E1E1E1;
  transition: all .6s ease;
}

/* line 194, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3__link:hover::after {
  background-color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */