/* line 8, ../../../Desktop/project_ministore/src/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 11, ../../../Desktop/project_ministore/src/sass/style.sass */
body {
  font-family: "Lato", sans-serif;
}

/* line 14, ../../../Desktop/project_ministore/src/sass/style.sass */
.container {
  padding: 0rem 31rem;
  box-sizing: border-box;
}

/* line 18, ../../../Desktop/project_ministore/src/sass/style.sass */
.header {
  padding: 1.4rem 31rem;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  align-items: center;
}

/* line 24, ../../../Desktop/project_ministore/src/sass/style.sass */
.header__icons {
  display: flex;
  gap: 2rem;
  justify-self: end;
}

/* line 29, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  position: relative;
  z-index: 100;
}

/* line 35, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__menu {
  display: flex;
}

/* line 37, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__item {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* line 40, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__item:not(:last-child) {
  margin-right: 4.4rem;
}

/* line 42, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link {
  text-decoration: none;
  transition: all .3s;
}

/* line 46, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link:active, .navigation__link:visited {
  color: #272727;
}

/* line 48, ../../../Desktop/project_ministore/src/sass/style.sass */
.navigation__link:hover {
  color: #72AEC8;
}

/* line 53, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__container {
  background: #EDF1F3;
  padding: 10rem 31rem;
  position: relative;
  min-height: 61rem;
}

/* line 61, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__img {
  position: absolute;
  right: 25rem;
  top: -7rem;
  transition: all .3s;
}

/* line 66, ../../../Desktop/project_ministore/src/sass/style.sass */
.main-section__img:hover {
  transform: scale(1.05);
}

/* line 69, ../../../Desktop/project_ministore/src/sass/style.sass */
.title {
  font-size: 8.3rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 73, ../../../Desktop/project_ministore/src/sass/style.sass */
.title_main {
  width: 60%;
}

/* line 76, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn {
  display: inline-block;
  background-color: #272727;
  padding: 1.6rem 5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all .3s;
}

/* line 85, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn:hover {
  transform: scale(1.1);
}

/* line 87, ../../../Desktop/project_ministore/src/sass/style.sass */
.btn:active {
  display: none;
}

/* line 93, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 12rem 0;
  gap: 0 5.5rem;
}

/* line 98, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__card {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: .5rem 1.5rem;
}

/* line 102, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #272727;
  letter-spacing: 6%;
}

/* line 107, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__text {
  font-size: 1.6rem;
  color: #3A3A3A;
  line-height: 138%;
  font-weight: 300;
  letter-spacing: 3%;
}

/* line 113, ../../../Desktop/project_ministore/src/sass/style.sass */
.advantages__img {
  grid-row: 1 / span 2;
  transform: translateY(-0.5rem);
}

/* line 118, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers {
  margin: 12rem 0;
}

/* line 126, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__text {
  display: flex;
  justify-content: space-between;
}

/* line 129, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__name {
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
}

/* line 133, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__price {
  display: inline-block;
  font-size: 2rem;
  color: #72AEC8;
  letter-spacing: 3%;
}

/* line 138, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__cards {
  display: flex;
  justify-content: space-between;
}

/* line 141, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__card {
  display: inline-block;
}

/* line 143, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__img-box {
  position: relative;
  margin-bottom: 1rem;
}

/* line 147, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__img-box:hover .shop-offers__cart-btn {
  opacity: 1;
}

/* line 149, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__cart-btn {
  border: none;
  background-color: #272727;
  color: #FFFFFF;
  width: 19.1rem;
  height: 3.7rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.8s ease;
}

/* line 163, ../../../Desktop/project_ministore/src/sass/style.sass */
.shop-offers__cart-btn::after {
  content: "";
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  background: url("../icons/cart-button.svg") center/contain no-repeat;
}

/* line 175, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

/* line 184, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-container__link {
  position: relative;
}

/* line 186, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-container__link:visited, .title-container__link:link {
  color: #272727;
  font-size: 1.4rem;
  letter-spacing: 10%;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 192, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-container__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  width: 100%;
  height: .3rem;
  background-color: #E1E1E1;
  transition: all .6s ease;
}

/* line 201, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-container__link:hover::after {
  background-color: #FFFFFF;
}

/* line 205, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__container {
  background-color: #EDF1F3;
  position: relative;
  min-height: 70rem;
}

/* line 209, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__info {
  padding: 22rem 0 22rem 11rem;
}

/* line 211, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__subtitle {
  font-size: 3rem;
  letter-spacing: 16%;
  text-transform: uppercase;
  margin-bottom: 2.8rem;
  padding-left: 5rem;
  position: relative;
}

/* line 218, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__subtitle::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0rem;
  width: 3%;
  height: .1rem;
  background-color: #272727;
  transform: translateY(50%);
}

/* line 227, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__img {
  position: absolute;
  right: -22rem;
  bottom: -6.5rem;
}

/* line 231, ../../../Desktop/project_ministore/src/sass/style.sass */
.discount-offer__title {
  margin-bottom: 4.5rem;
}

/* line 234, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h3 {
  font-size: 3rem;
  letter-spacing: 6%;
  color: #272727;
  text-transform: uppercase;
}

/* line 240, ../../../Desktop/project_ministore/src/sass/style.sass */
.title-h2 {
  text-transform: uppercase;
  letter-spacing: 2%;
  font-size: 8.3rem;
}

/* line 246, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__container {
  margin: 12rem 0;
}

/* line 248, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__title {
  margin-bottom: 3rem;
}

/* line 250, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__img {
  margin-bottom: 1.4rem;
}

/* line 252, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__content {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 2rem;
}

/* line 256, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__content p {
  display: inline-block;
  font-size: 1.3rem;
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 6%;
  margin-bottom: .6rem;
  position: relative;
}

/* line 264, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__content p:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  border-radius: 50%;
  content: "";
  height: .3rem;
  width: .3rem;
  background-color: #848484;
}

/* line 274, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__content p:not(:last-child) {
  margin-right: 1rem;
}

/* line 278, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__post-title:link, .related-posts__post-title:visited {
  font-size: 2rem;
  letter-spacing: 6%;
  text-decoration: none;
  color: #272727;
  text-transform: uppercase;
}

/* line 284, ../../../Desktop/project_ministore/src/sass/style.sass */
.related-posts__post-title:hover {
  opacity: 0.8;
}

/* line 291, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__container {
  margin: 12rem 0;
}

/* line 293, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__quote {
  margin: 0 auto;
  text-align: center;
  font-size: 3.4rem;
  color: #3A3A3A;
  letter-spacing: 2%;
  margin-bottom: 3rem;
  width: 70%;
  height: 100%;
}

/* line 302, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__img {
  display: block;
  margin: 0 auto;
}

/* line 305, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__author {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 10%;
}

/* line 310, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__rating {
  text-align: center;
  margin-bottom: 0.8rem;
}

/* line 313, ../../../Desktop/project_ministore/src/sass/style.sass */
.blockquote__star {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  background: url("../icons/star.svg");
}

/* line 320, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__wrapper {
  padding: 8rem 11rem;
  background-color: #272727;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* line 325, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__title {
  color: white;
  font-size: 3rem;
  letter-spacing: 6%;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* line 331, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__subtitle {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 3%;
}

/* line 336, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__input {
  display: inline-block;
  height: 5rem;
  width: 33rem;
  border: none;
  padding: 0;
  transform: translateX(0.5rem);
}

/* line 343, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__input::placeholder {
  font-size: 1.6rem;
  letter-spacing: 3%;
  text-align: center;
}

/* line 347, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form__btn {
  display: inline-block;
  height: 5rem;
  width: 16rem;
  text-transform: uppercase;
  border: none;
  background-color: #72AEC8;
  color: #FFFFFF;
  padding: 0;
}

/* line 356, ../../../Desktop/project_ministore/src/sass/style.sass */
.subscribe-form form {
  text-align: right;
}

/* line 359, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase {
  margin: 12rem 0;
}

/* line 361, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__title {
  text-align: center;
  margin-bottom: 3rem;
}

/* line 364, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__items {
  display: flex;
  justify-content: space-between;
}

/* line 367, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__img {
  transition: all .7s ease;
}

/* line 369, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__item {
  position: relative;
}

/* line 371, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__item:hover .instangram-showcase__img {
  filter: brightness(0.7) blur(0.2rem);
}

/* line 373, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__item:hover .instangram-showcase__insta-icon {
  opacity: 1;
}

/* line 376, ../../../Desktop/project_ministore/src/sass/style.sass */
.instangram-showcase__insta-icon {
  transition: all .7s ease;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
}

/* line 386, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer {
  padding: 0 31rem;
  display: grid;
  grid-template-columns: minmax(34rem, 1fr) repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 8rem 14rem;
}

/* line 394, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer__logo {
  margin-bottom: 2rem;
}

/* line 396, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer__text {
  font-size: 1.6rem;
  color: #3A3A3A;
  letter-spacing: 3%;
}

/* line 403, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer__bottom {
  border-top: 1px solid black;
  grid-column: 1 / -1;
  display: flex;
  font-size: 1.6rem;
}

/* line 410, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu__title {
  font-size: 2rem;
  letter-spacing: 6%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* line 416, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu__link:link, .footer-menu__link:visited {
  text-decoration: none;
  letter-spacing: 10%;
  font-size: 1.4rem;
  transition: all .3s ease;
  color: #272727;
  text-transform: uppercase;
}

/* line 423, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu__link:hover {
  color: #72AEC8;
}

/* line 426, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu li:not(:last-child) {
  margin-bottom: 0.8rem;
}

/* line 428, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu__text {
  font-size: 1.6rem;
  letter-spacing: 3%;
  color: #3A3A3A;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 138%;
}

/* line 435, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-menu__text--underline {
  display: block;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: .5rem;
}

/* line 443, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-bottom {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 1rem;
}

/* line 448, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-bottom__text {
  font-size: 1.6rem;
  letter-spacing: 3%;
}

/* line 451, ../../../Desktop/project_ministore/src/sass/style.sass */
.footer-bottom__copyright {
  justify-self: end;
}

/*# sourceMappingURL=style.css.map */