@import "abstracts/variables.scss";

@import "base/base.scss";
@import "base/typograpghy.scss";

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/navigation.scss";
@import "layout/hero-banner.scss";
@import "layout/advantages.scss";
@import "layout/shop-offers.scss";
@import "layout/discount-offer.scss";
@import "layout/related-posts.scss";
@import "layout/instagram-showcase.scss";

@import "components/blockquote.scss";
@import "components/subscribe-form.scss";
@import "components/btn.scss";



